.animation {
  width: 150px;
  height: 150px;
  background-color: #f00;

  transition: background-color 500ms linear;

  animation: anim 3s linear alternate infinite;
}

@keyframes anim {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translate(100px, 100%);
  }
  75%, 100% {
    transform: translate(100px, 100%) scale(2) rotate(145deg);
  }
}

.animation:hover {
  background-color: #ff0;
}